.mode
  z-index: 3
  pointer-events: auto
  position: fixed
  top: 2px
  left: 370px
  display: inline-block
  padding: 0
  margin: 8px 16px
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  
  button.type-action
    z-index: 5
    height: 66px
    width: 66px
    margin: 0 14px
    display: inline-block
    border: 1.5px solid white
    background-position: center 6px
    background-repeat: no-repeat
    border-radius: 50%
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12)
  .taxi.type-action,
  .taxi.type-action:hover, 
  .taxi.type-action:focus
    order: 1
    background-color: #FC7A9F
    background-image: url('/theme/actual/icon/taxi.svg')
    &:hover
      background-image: url('/theme/actual/icon/taxi_o.svg')
    &.on
      background-color: #D53E53
      background-image: url('/theme/actual/icon/taxi-on.svg')
    &.is-disabled
      opacity: 1

  .random.type-action, 
  .random.type-action:hover, 
  .random.type-action:focus
    order: 2
    background-position: center
    background-color: #023168
    background-image: url('/theme/actual/icon/random.svg')
    &.on
      background-image: url('/theme/actual/icon/random-on.svg')
    &.is-disabled
      opacity: 1

  .islands.type-action, 
  .islands.type-action:hover, 
  .islands.type-action:focus
    order: 2
    background-size: 110%
    background-position: center
    background-color: #023168
    background-image: url('/theme/actual/icon/islands.svg')
    &.on
      background-image: url('/theme/actual/icon/islands.svg')
    &.is-disabled
      opacity: 1


.mode-indicator
  //z-index: 50
  display: none
  position: fixed
  background-color: rgba(255,255,255,.97)
  max-width: 160px
  text-align: center
  padding: 7px 8px
  //border-radius: 3px
  transform: translateY(2px)
  color: rgba(255,255,255,.87)
  background-color: $primary-color
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
  border: 2px solid rgba(255,255,255,.87)
  text-transform: uppercase
  font-size: .7em
  &.show
    display: block
  &.random
    background-color: #02294F
  &.taxi
    color: rgba(0,0,0,1)
    background-color: rgba(247, 232, 146, 1)
  &.islands
    background-color: $primary-color


@media only screen and (max-width: 1024px)
  .mode
    button.type-action
      height: 40px
      width: 40px
    .taxi-control
    .random-control
     
















