
.sound.type-action
  pointer-events: auto
  display: inline-block
  width: 44px
  height: 48px
  margin: 0
  padding: 0
  border-radius: 0
  background-image: url('/theme/actual/icon/sound.svg')
  background-size: 100%
  background-repeat: no-repeat
  background-position: center
  &.off
    background-image: url('/theme/actual/icon/sound-off.svg')

@media only screen and (max-width: 1024px)
  .sound
    display: none
   