.tooltip
  z-index: 100
  display: none
  position: absolute
  background-color: rgba(255,255,255,.97)
  max-width: 200px
  text-align: center
  padding: 5px 8px
  border-radius: 3px
  transform: translateY(40px)
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
  &.show
    display: block
    >.label
      font-size: .8em
      line-height: 1em
      color: rgba(0,0,0,.87)
    >.pointer
      display: block
      width: 100%
      height: 18px
      position: absolute
      left: 0
      right: 0
      top: -18px
      background-image: url('/theme/actual/icon/tooltip.svg')
      background-position: center
      background-size: contain
      background-repeat: no-repeat