.contributor
  position: absolute
  top: 320px
  display: flex
  flex-direction: row
  z-index: 32
  // width: 200px
  // height: 132px
  border-top-left-radius: 16px
  border-bottom-left-radius: 16px
  transform: translateY(0px)
  transition: .195s transform cubic-bezier(.4,0,.2,1)
  pointer-events: auto
  //box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12)

  &.open
    >.summary
      border-top-right-radius: 0
      border-bottom-right-radius: 0
      width: 250px
      .action
        display: flex
    >.body
      width: 428px
      transition: .2s width ease
      transform: translateX(0px)
      .material-tabs
        // position: absolute
        // top: -32px
        height: 24px
        background-color: transparent
        >.material-list 
          display: flex

  >.button-close
    display: none

  >.title
    display: none

  >.summary
    height: 100px
    z-index: 2
    pointer-events: auto
    border-radius: 16px
    border-top-right-radius: 0
    border-bottom-right-radius: 0

    border-top-left-radius: 16px
    border-bottom-left-radius: 16px
    background-color: #EA7D99
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12)
    display: flex
    flex-direction: row
    .follow
      display: none
      pointer-events: auto
      position: absolute
      right: 8px
      bottom: 8px
      white-space: normal
      width: 40px
      height: 40px
      margin: 0 1px
      padding: 0px
      text-align: center
      border-radius: 50%
      background-repeat: no-repeat
      background-size: 60%
      background-position: center
      background-image: url('/theme/minimal/icon/follow.svg')
    .image
      flex: none
      border: 2px solid white
      border-radius: 16px
      margin: 0
      width: 100px
      height: 100px
      background-color: rgba(0,0,0,.2)
      background-position: center
      background-size: cover
    .info
      height: 100px
      padding: 8px 5px
      display: flex
      flex-direction: column
      .name
        width: 96px
        flex: 1
        padding: 0
        font-size: .8em
        text-transform: uppercase
        overflow: hidden
        // text-overflow: ellipsis

        &::before
          display: block
          color: rgba(255,255,255,1)
          font-size: 1em
          content: "DISCOVER BY:"
          padding: 2px 0
      .country
        display: none
      .ranking
        flex: none
        padding: 0
        .ranking-score
          display: none
        .ranking-title
          font-size: .8em
          text-transform: uppercase
          color: white
          flex: none
          padding: 4px 0
    .action
      display: none
      flex: none
      width: 50px

  >.body
    //overflow: hidden
    //position: absolute
    display: flex
    width: 0
    height: 100px
    border-top-right-radius: 15px
    //border-bottom-right-radius: 14px
    flex-direction: column
    transform: translateX(-192px)
    transition: .2s width ease
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12)
    .material-tabs

      position: absolute
      top: -22px
      height: 24px
      background-color: transparent
      >.material-indicator
        display: none
      >.material-list 
        display: none
        >.material-button
          height: 24px
          background-color: #F2D1D7
          border-radius: 0
          border-top-right-radius: 16px
          border-top-left-radius: 16px
          background-color
          &.is-selected
            background-color: #DC8499
          >label
            font-size: .8em
            color: rgba(0,0,0,1)
    .views
      position: relative
      flex: 1
      background-color: rgb(34, 89, 138)
      //box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12)
      h3.title
        display: none
      .item
        color: rgba(255,255,255,.87)

@media only screen and (max-width: 1024px)

@media only screen and (max-width: 640px)
  .track
    z-index: 3
    position: fixed
    //width: 100%
    height: 96px
    top: auto
    left: 0
    right: 96px
    bottom: 0
    transform: translateY(0px)
    transition: .195s height cubic-bezier(.4,0,.2,1)
    &.open
      width: 100%
      right: 0
      top: 56px
      transform: translateY(0)
      height: 100%
      display: flex
      flex-direction: column
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
      transition: .225s height cubic-bezier(.4,0,.2,1)
    //   >.summary
    //     flex: none
    //     height: 360px
    //     pointer-events: auto
    //     flex-direction: column
    //     .cover
    //       background-size: cover
    //       width: 100%
    //       height: 284px
    //       // margin: 16px auto
    //     .info
    //       height: 64px
    //       .action
    //         display: block
    //         text-align: center
    //         .material-divider
    //           display: inline-block
    //           width: 36px
    //           flex: none
    //       .title, .artist
    //         display: none
      >.body
        flex: 1
    >.summary
        flex: none
        pointer-events: auto
    >.body
      flex: 1
      .cover
        display: none
      .side
        .info
          padding: 0px
          .field
            position: relative
            display: flex
            flex-direction: row
            flex-wrap: nowrap
            white-space: nowrap
            padding: 2px 0 1px 16px
            border: 0
            margin: 0
            border-bottom: 1px solid rgba(0,0,0,.05)
            // .material-text
            //   flex: 1
            //   display: block
            //   font-size: 1em
            //   padding: 13px 0 3px
            //   &.label
            //     font-size: .5em
            //     position: absolute
            //     top: -10px
            //     flex: none

    .info
      .title
        top: 16px
        left: 8px
      .cover
        display: none
      .side
        .info
          padding: 32px 0 8px 0
