.track
  position: absolute
  top: 0
  z-index: 2
  background-color: rgba(1,1,1,0)
  transition: .1s transform ease
  pointer-events: auto
  &.open
    > .body
      width: 486px
      transition: .2s width ease

  > .summary
    position: absolute
    top: 0
    z-index: 2
    width: 200px
    height: 300px
    display: flex
    flex-direction: column
    flex: none
    z-index: 2
    padding: 0
    border-radius: 20px
    background-color: rgb(34, 89, 138)
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12)
    &::before
      content: "ON AIR" 
      color: rgba(1,1,1,.87)
      font-size: .9em
      text-transform: uppercase
      font-weight: 500
      position: absolute
      display: inline-block
      height: 32px
      top: -24.5px
      padding: 4px 6px
      border-top-left-radius: 10px
      border-top-right-radius: 10px
      background-color: rgba(254, 233, 72, 1.00)
      box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12)

    .cover
      z-index: 2
      //pointer-events: none
      flex: none
      display: block
      width: 200px
      height: 200px
      margin: 0
      background-color: rgb(34, 89, 138)
      background-size: cover
      border: 2px solid rgba(255,255,255,1)
      border-top-right-radius: 20px
      border-top-left-radius: 20px
    .info
      flex: 1
      font-size: 1em
      display: flex
      flex-direction: column
      .artist
        font-weight: 500
        color: rgba(255,255,255,.95)
        display: block
        height: 28px
        padding: 4px 8px
        background-color: rgb(34, 89, 138)
        border-bottom: 2px solid rgba(255,255,255,1)
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis

      .title
        color: rgba(0,0,0,1)
        color: rgba(255,255,255,.95)
        display: block
        height: 28px
        padding: 4px 8px
        background-color: rgba(131, 203, 239, 1)
        border-bottom: 2px solid rgba(255,255,255,1)
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis

      .action
        display: flex
        flex-direction: row
        padding: 4px 3px
        border-bottom-left-radius: 20px
        border-bottom-right-radius: 20px
        background-color: rgba(249, 170, 188, 1)
        background-color: #F4D1D7
        .material-divider
          flex: 1
        .material-button
          display: inline-block
          flex-direction: column
          flex: none
          white-space: normal
          width: 40px
          height: 40px
          margin: 0 1px
          padding: 0px
          text-align: center
          border-radius: 50%
          background-repeat: no-repeat
          background-size: cover
          background-position: center
          &.button-like
            background-image: url('/theme/actual/icon/like.svg')
            .button-label
              width: 40px
              font-size: .7em
              text-align: center
              padding-top: 10px
              color: #CF3151
              display: block
              text-align: center
            &.liked, &:hover.liked
              background-image: url('/theme/actual/icon/liked.svg')
              .button-label
                font-size: .7em
                color: white
            &:hover
              background-image: url('/theme/actual/icon/like_o.svg')
            // &:active
            //   background-image: url('/theme/actual/icon/like_a.svg')
          &.button-share
            background-image: url('/theme/actual/icon/share.svg')
            &:hover
              background-image: url('/theme/actual/icon/share_o.svg')
            &:active
              background-image: url('/theme/actual/icon/share_a.svg')
          &.button-comment
            display: none
            background-image: url('/theme/actual/icon/comment.svg')
          &.button-buy
            display: none
            opacity: 0
            visibility: hidden
          .button-label
            display: none
            // color: rgba(0,0,0,.87)
            // line-height: 1.9
            // font-weight: 550
            // font-family: arial, helvetica
            // font-size: .55em
            // margin-top: 3px
            // padding: 0 4px
            // border-radius: 7px
            // margin: 3px auto
            // min-width: 20px
            // background-color: rgba(255,255,255,1) 

        .controls
          display: flex
          flex-direction: row
          flex: 1
          button
            flex: none
            margin: 0px
            height: 40px
            width: 40px
            background-size: inherit
            background-position: center
            background-repeat: no-repeat
            &.button-next
              background-image: url('/theme/actual/icon/next.svg')
            &.button-pause
              background-image: url('/theme/actual/icon/pause.svg')
            &.button-play
              background-image: url('/theme/actual/icon/play.svg')

        .material-button.button-buy
          opacity: .5
          pointer-events: none
          &.buy
            opacity: 1
            pointer-events: auto
  > .body
    z-index: 1
    position: absolute
    pointer-events: auto
    //display: none
    top: 10px
    left: 190px
    overflow: hidden
    justify-content: start
    height: 218px
    width: 0px
    //padding: 16px
    padding: 0
    pointer-events: auto
    border-top: 2px solid rgba(255,255,255,1)
    border-right: 2px solid rgba(255,255,255,1)
    border-bottom: 2px solid rgba(255,255,255,1)
    border-top-right-radius: 16px
    border-bottom-right-radius: 16px
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12)
    transition: .1s width ease
    .title
      display: none
    .cover
      display: none
      flex: none
      background-color: rgba(0,0,0,.2)
      margin-right: 0
      width: 284px
      height: 284px

    >.side
      position: absolute
      top: 0
      right: 0
      bottom: 0
      //left: 0
      width: 478px
      background-color: rgb(34, 89, 138)
      display: flex
      flex-direction: column
      .material-tabs
        display: none
        order: 2
        text-align: inherit
      .views
        overflow-x: hidden
        .info
          overflow-x: hidden
          order: 1
          flex: 2
          padding: 8px 16px 32px 16px
          background-color: rgb(34, 89, 138)
          border-top-right-radius: 15px
          border-bottom-right-radius: 14px
          .field
            display: flex
            flex-direction: row
            padding: 2px 0 1px
            border: 0
            margin: 0
            border-bottom: 1px solid rgba(255,255,255,.5)
            .material-text
              flex: 1
              display: inline-block
              color: rgba(255,255,255,.87)
              width: 340px
              font-size: 1em
              //line-height: .9em
              padding: 0
              margin-right: 0
              white-space: nowrap
              overflow: hidden
              text-overflow: ellipsis
              &.label
                flex: none
                display: inline-block
                width: 92px
                text-transform: uppercase
                color: rgb(131, 203, 239)
                padding: 0px 0
        .comments
          display: none
          flex: 1
          height: 140px
          padding: 10px
          background-color: #EA7987
          .text-comments
            font-size: .8em
            text-transform: uppercase
            color: rgba(255,255,255,1)
            padding-right: 4px

@media only screen and (max-width: 1024px)
  .track
    .info
      .title
        top: 16px
        left: 8px
      .cover
        display: none
      .side
        .info
            padding: 32px 0 8px 0


@media only screen and (max-width: 640px)
  .track
    z-index: 3
    position: fixed
    //width: 100%
    height: 96px
    top: auto
    left: 0
    right: 96px
    bottom: 0
    transform: translateY(0px)
    transition: .195s height cubic-bezier(.4,0,.2,1)
    &.open
      width: 100%
      right: 0
      top: 56px
      transform: translateY(0)
      height: 100%
      display: flex
      flex-direction: column
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
      transition: .225s height cubic-bezier(.4,0,.2,1)
    //   >.summary
    //     flex: none
    //     height: 360px
    //     pointer-events: auto
    //     flex-direction: column
    //     .cover
    //       background-size: cover
    //       width: 100%
    //       height: 284px
    //       // margin: 16px auto
    //     .info
    //       height: 64px
    //       .action
    //         display: block
    //         text-align: center
    //         .material-divider
    //           display: inline-block
    //           width: 36px
    //           flex: none
    //       .title, .artist
    //         display: none
      >.body
        flex: 1
    >.summary
        flex: none
        pointer-events: auto
    >.body
      flex: 1
      overflow-x: hidden
      .cover
        display: none
      .side
        overflow-x: hidden
        .info
          overflow-x: hidden
          padding: 0px
          .field
            position: relative
            display: flex
            flex-direction: row
            flex-wrap: nowrap
            white-space: nowrap
            padding: 2px 0 1px 16px
            border: 0
            margin: 0
            border-bottom: 1px solid rgba(0,0,0,.05)
            // .material-text
            //   flex: 1
            //   display: block
            //   font-size: 1em
            //   padding: 13px 0 3px
            //   &.label
            //     font-size: .5em
            //     position: absolute
            //     top: -10px
            //     flex: none

    .info
      .title
        top: 16px
        left: 8px
      .cover
        display: none
      .side
        .info
          padding: 32px 0 8px 0