
.login
  z-index: 30
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0
  background-color: rgba(0,0,0,.2)
  .card-login
    position: fixed
    background-color: rgba(255,255,255,1)
    width: 320px
    top: 0px
    right: 0px
    .container-inner
      .material-textfield
        margin-right: 0
    .toolbar-head
      display: flex
      .material-text
        font-weight: 500
      .material-text
        margin-left: 8px

      .material-divider
        border-bottom: none
      .material-button

    .container-message
      color: rgb(214, 57, 44)
      font-size: .8em
      height: 20px
      padding: 0 8px


@media only screen and (max-width: 1024px)
  .login
    background-color: rgba(0,0,0,.2)
    .card-login
      border-radius: 0
      position: fixed
      background-color: rgba(255,255,255,1)
      left: 0
      top: 0
      right: 0
      width: 100%