.material-account
  z-index: 11
  position: fixed
  top: 0
  left: 0
  bottom: 0
  top: 0
  width: 100%
  height: 100%
  background-color: rgba(1,1,1,.4)

  .card-account
    position: fixed
    pointer-events: auto
    top: 80px
    right: 16px
    background-color: rgba(255,255,255,1)
    overflow: visible
    width: 420px
    border-radius: 16px
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12)
    .body
      display: flex
      flex-direction: row

      padding: 8px
      .image
        flex: none
        overflow: hidden
        display: block
        width: 80px
        height: 80px
        background-color: rgba(0,0,0,.2)
        margin: 2px
        background-size: cover
        border-radius: 50%

      .info
        display: flex
        flex-direction: column
        margin-left: 16px
        .text-name
          font-size: 1.2em
          font-weight: 600
          margin-bottom: 4px
        .text-email
          color: rgba(0,0,0,.6)
    .toolbar-foot
      display: flex
      flex-direction: row
      padding: 0
      margin: 0 8px 8px 8px
      //display: flex
      .material-divider
        flex: 1
        border-bottom: none
        margin: 0
      .button-settings
        width: 40px
        height: 40px
        background-image: url('/theme/minimal/icon/settings.svg')
        background-position: center
        background-repeat: no-repeat

@media only screen and (max-width: 1024px)
  .material-account
    z-index: 11
    position: fixed
    top: 0
    left: 0
    bottom: 0
    top: 0
    width: 100%
    height: 100%

    background-color: rgba(1,1,1,.4)
    .card-account
      position: fixed
      pointer-events: auto
      top: 0px
      right: 0
      left: 0
      width: 100%
      background-color: rgba(255,255,255,1)
      overflow: visible
      border-radius: 0
      .component-account-info
        .text-name
          font-size: 1.2em
          font-weight: 500
          margin-bottom: 4px
        .text-email
          color: rgba(0,0,0,.3)
        .component-image
          overflow: hidden
          display: block
          border: 1px solid rgba(0,0,0,.5)
          width: 64px
          height: 64px
          background-color: rgba(0,0,0,.2)
          margin: 8px
          background-size: cover
          //border-radius: 50%