.material-contributor
  z-index: 1
  position: fixed
  top: 0
  left: 0
  bottom: 0
  top: 0
  width: 100%
  height: 100%
  background-color: transparent
  pointer-events: none
  &.show
    .card-contributor
      opacity: 1
      width: 630px
      height: 92px
      bottom: 140px
      transition: .2s width ease, .2s height ease, .2s opacity ease
      .info
        transition: .2s opacity ease
        opacity: 1
      .awards
        transition: .2s opacity ease
        opacity: 1
  .card-contributor
    position: fixed
    pointer-events: auto
    width: 140px
    height: 0
    bottom: 140px
    opacity: 0
    left: 36px
    padding: 16px
    margin: 0
    overflow: visible
    justify-content: start
    overflow: hidden
    border-top: 2px solid rgba(255,255,255,1)
    //border-right: 2px solid rgba(255,255,255,1)
    //border-bottom: 2px solid rgba(255,255,255,1)
    //border-top-right-radius: 16px
    border-bottom-right-radius: 16px
    border-bottom-left-radius: 20px
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12)
    background-color: rgb(234, 125, 153)
    transition: .2s width ease, .2s height ease, .2s opacity ease

    .button-close
      display: none

    .title
      position: absolute
      
      text-transform: uppercase 
      font-size: .8em
      width: 250px     
      position: absolute
      top: 0px
      right: 220px
      color: rgba(255,255,255,1)
      padding: 5px 16px
      background-color: rgb(131, 203, 239)
      border-bottom: 2px solid rgba(255,255,255,1)

      .component-image
        overflow: hidden
        display: block
        border: 2px solid rgba(255,255,255,1)
        width: 164px
        height: 164px
        background-color: rgba(0,0,0,.2)
        margin: 0
 
        background-size: cover
        //border-radius: 50%

    .info
      opacity: 0
      width: 240px
      padding: 4px 4px 4px 4px
      background-color: transparent
      position: absolute
      overflow: hidden
      top: 24px
      right: 218px
      .field
        padding: 0px 0 1px
        border: 0
        margin: 0
        border-bottom: 1px solid rgba(255,255,255,.5)
        .material-text
          display: inline-block
          color: rgba(0,0,0,.7)
          width: 140px
          font-size: .7em
          line-height: .9em
          padding: 0
          margin-right: 0
          white-space: nowrap
          overflow: hidden
          text-overflow: ellipsis
          &.label
            font-size: .7em
            display: inline-block
            width: 70px
            text-transform: uppercase
            color: rgba(255,255,255,.87)
            
            padding: 0px 0
    .component-desc
      display: none
      padding: 10px
      background-color: RGBA(137, 209, 233, 1.00)
      .material-text
        font-size: .7em
        margin-bottom: 4px
        margin-right: 0
        padding-top: 0px
        &.label
          width: 64px
          text-transform: uppercase
          color: rgba(255,255,255,1)

    .awards
      opacity: 0
      position: relative
      background-color: rgba(33,158,203,1)
      overflow: scroll
      width: 220px
      position: absolute
      right: 0
      bottom: 0
      top: 0
      padding-top: 0px
      border-bottom-right-radius: 16px
      //height: 150px
      .title
        display: none
        font-size: .8em
        text-transform: uppercase
        position: absolute
        top: 0
        padding-bottom: 6px
        border-bottom: 1px solid rgba(0,0,0,.1)
        
        width: 100%  
        color: rgba(255,255,255,1)
        padding: 5px 16px
        background-color: rgb(34, 89, 138)
        border-bottom: 2px solid rgba(255,255,255,1)
      .award-list
        padding-top: 8px
        display: block
        overflow: scroll
        // overflow-y: hidden
        //height: 260px
        .award
          position: relative
          display: inline-block
          width: 70px
          height: 84px
          margin-bottom: 2px
          padding: 0 3px
          text-align: center
          img
            display: inline-block
            width: 36px
            height: 56px
          .name
            color: rgba(255,255,255,1)
            font-size: .6em
            position: absolute
            bottom: 0
            left: 0
            right: 0
            text-align: center
            display: block
            height: 30px
            

@media only screen and (max-width: 1024px)
  .material-contributor
    z-index: 30
    &.show
      .card-contributor
        display: block
        top: 0
        height: inherit
        width: 100%
        bottom: 0
        .info
          transition: .2s opacity ease
          opacity: 1
        .awards
          transition: .2s opacity ease
          opacity: 1
    .card-contributor
      display: none
      flex-direction: row
      position: fixed
      pointer-events: auto
      width: 100%
      bottom: 0
      left: 0
      padding: 0
      margin: 0
      overflow: visible
      justify-content: start
      overflow: hidden
      border-top: none
      border-radius: none
      border-bottom-right-radius: 0
      border-bottom-left-radius: 0
      box-shadow: none
      background-color: rgb(234, 125, 153)
      transition: .2s width ease

      .button-close
        display: inline-block
        position: absolute
        width: 48px
        height: 48px
        top: 0
        right: 0
        background-image: url('/theme/actual/icon/close.svg')
        background-size: cover
        background-position: center

      .title
        position: relative
        display: block
        text-transform: uppercase 
        font-size: .8em
        width: 100%   
        position: relative
        top: 0
        right: 0
        left: 0
        color: rgba(255,255,255,1)
        padding: 16px 16px
        background-color: rgb(131, 203, 239)
        border-bottom: 2px solid rgba(255,255,255,1)
        border-top: none

      .body
        display: flex
        flex-direction: row
        .image
          flex: none
          overflow: hidden
          display: inline-block
          border: 2px solid rgba(255,255,255,1)
          width: 64px
          height: 64px
          background-color: rgba(0,0,0,.2)
          margin: 16px
          
          background-size: cover
          border-radius: 50%

        .info
          flex: 1
          opacity: 1
          width: 100%
          padding: 4px 4px 4px 4px
          background-color: transparent
          position: relative
          overflow: hidden
          top: 0
          right: 0
          left: 0
          padding: 16px 16px 16px 0
          .field
            display:flex
            flex-direction: row
            flex-wrap: nowrap
            padding: 0px 0 1px
            border: 0
            margin: 0
            border-bottom: 1px solid rgba(255,255,255,.5)
            .material-text
              flex: 1
              display: inline-block
              color: rgba(0,0,0,.7)
              font-size: .8em
              line-height: .9em
              width: inherit
              padding: 0
              margin-right: 0
              white-space: nowrap
              overflow: hidden
              text-overflow: ellipsis
              &.label
                flex: none
                font-size: .8em
                display: inline-block
                width: 70px
                text-transform: uppercase
                color: rgba(255,255,255,.87)
                
                padding: 0px 0
        .component-desc
          display: none
          padding: 10px
          background-color: RGBA(137, 209, 233, 1.00)
          .material-text
            font-size: .7em
            margin-bottom: 4px
            margin-right: 0
            padding-top: 0px
            &.label
              width: 64px
              text-transform: uppercase
              color: rgba(255,255,255,1)

      .awards
        display: block
        width: 100%
        opacity: 0
        position: relative
        background-color: rgba(33,158,203,0)
        overflow: hidden
        right: 0
        left: 0
        bottom: 0
        top: 0
        padding: 0
        border-bottom-right-radius: 0
        height: inherit
        .title
          display: block
          font-size: .8em
          text-transform: uppercase
          position: relative
          padding-bottom: 6px
          border-bottom: 1px solid rgba(0,0,0,.1)
          
          width: 100%  
          color: rgba(255,255,255,1)
          padding: 5px 16px
          background-color: rgb(34, 89, 138)
          border-bottom: 2px solid rgba(255,255,255,1)
        .award-list
          padding: 16px
          display: block
          overflow: scroll
          // overflow-y: hidden
          //height: 260px
          .award
            position: relative
            display: inline-block
            width: 70px
            height: 112px
            margin-bottom: 2px
            padding: 0 3px
            text-align: center
            img
              display: inline-block
              width: 48px
              height: 84px
            .name
              color: rgba(255,255,255,1)
              font-size: .6em
              position: absolute
              bottom: 0
              left: 0
              right: 0
              text-align: center
              display: block
              height: 30px