.decades
  z-index: 6
  position: fixed
  bottom: 0px
  top: initial
  width: 100%
  height: 85px 
  text-align: center
  pointer-events: none
  .inner
    position: relative
    display: inline-block
    vertical-align: bottom
    height: 85px 
    pointer-events: auto
    button
      pointer-events: auto
      color: rgba(255,255,255,1)
      font-size: .9em
      font-weight: 500
      position:absolute
      width: 60px
      height: 70px
      cursor: pointer
      display: inline-block
      padding: 46px 4px 10px
      margin: 15px 6px
      vertical-align: bottom
      bottom: 0
      border-radius: 0
      border-top-left-radius: 29px
      border-top-right-radius: 29px
      background-image: url('/theme/actual/icon/off.svg') 
      background-repeat: no-repeat
      background-position: 11px 11px
      background-size: 34px 34px
      background-color: rgba(34, 88, 137, 1.00)
      border: 2px solid rgb(255,255,255)
      border-bottom: none
      box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12)
      transition: .1s ease 
      &.selected
        cursor: default
        height: 83px
        color: rgba(255,255,255,1)
        padding-top: 59px
        margin-top: 0
        background-color: rgba(34, 88, 137, 1.00)
        background-image: url('/theme/actual/icon/selected.svg') 
        transition: .1s
      &.selected:hover
        background-color: rgba(34, 88, 137, 1.00)
      &.playing
        background-image: url('/theme/actual/icon/on.svg') 
      &:hover
        height: 83px
        margin-top: 0
        color: rgba(255,255,255,.9)
        padding-top: 59px
        background-color: rgba(34, 88, 137, 1.00)
        transition: .1s

@media only screen and (max-width: 1024px)
  .decades
    bottom: 0px
    width: 100%
    height: 48px
    bottom: 0px
    .inner
      white-space: nowrap
      position: relative
      display: inline-block
      vertical-align: bottom
      height: 48px
      border-top: 2px solid rgba(255,255,255,1)
      button
        font-size: .8em
        vertical-align: bottom
        position:absolute
        width: inherit
        height: 48px
        cursor: pointer
        display: inline-block
        padding: 16px 12px
        margin: 0
        bottom: 0
        background-size: 18px 18px
        background-position: center 5px
        border-top-left-radius: 0
        border-top-right-radius: 0
        background-image: none
        border: none
        box-shadow: none
        transition: .1s
        &.selected
          cursor: default
          height: 48px
          color: rgba(255,255,255,1)
          padding: 16px 12px
          margin: 0
          background-image: none
          transition: .2s
        &.selected
          cursor: default
          height: 48px
          color: rgba(255,255,255,1)
          padding: 16px 12px
          margin: 0
          background-image: none
          transition: .2s
          background-color: rgba(63, 169, 216, 1)
        &.selected:hover
          height: 48px
          margin: 0
          color: rgba(255,255,255,.9)
          padding: 16px 12px
          background-color: rgba(63, 169, 216, 1)
          background-image: none
          transition: .2s
        &:hover
          color: rgba(255,255,255,.9)
          height: 48px
          margin: 0
          padding: 16px 12px
          background-image: none
          transition: .2s