
.card-discoverby
  position: fixed
  
  z-index: 4
  pointer-events: auto
  //display: none
  //position: absolute
  overflow: visible
  justify-content: start
  width: 44px
  left: 138px
  bottom: 160px
  padding: 0
  background-color: transparent
  box-shadow: none
  //padding: 7px
  .contributor-info
    background-color: transparent
    .contributor-title
      display: none
      font-size: .55em
      text-transform: uppercase
      font-weight: 600
      color: rgba(255,255,255,.87)
      padding: 5px 4px 2px 8px
      background-size: cover
      background-color: rgba(0,0,0,1)
      border-top: 1px solid rgba(255,255,255,.7)
    .contributor-name
      display: none
      line-height: 1.6em
      font-size: .7em
      color: rgba(0,0,0,.8)
      padding: 2px 8px
    .contributor-thumb
      display: block
      width: 52px
      height: 52px
      background-color: rgb(234, 125, 153)
      border: 1.5px solid rgba(255,255,255,1)
      background-size: cover
      border-radius: 50%
 
  

@media only screen and (max-width: 1024px)

  .card-discoverby
    z-index: 1
    bottom: 70px
    left: 90px
    width: 64px
    herght: 64px
    .contributor-info
      .contributor-thumb
        width: 64px
        height: 64px

    