$column-width: 60px
$gutter-width: 20px
$columns: 12

// @font-face
//   font-family: "futura"
//   src: url("/font/Futura-Condensed-Medium.woff") format('woff')

//@import ../../../dist/vendor/roboto/roboto.scss

*
  tap-highlight-color: transparent
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0)
  //outline: none
  -webkit-text-size-adjust: none

html, body
  overflow-x: hidden
  touch-action: none

body.p404
  background-color: orange
  padding: 0 16px

body
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow: hidden
  background-color: rgba(0, 0, 0, .1)
  font-family: futura, Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  transition: background-color 1000ms linear


.button-menu-profile
  display: none

.country-label
  display: none
  pointer-events: none
  z-index: 3
  font-size: .7em
  position: fixed
  padding: 1px 3px
  background-color: #ffffff
  border: 1px solid rgba(0,0,0,.8)
  border-radius: 4px
  &.show
    display: block


.material-dialog
  .dialog-surface
    .dialog-title
      margin: 12px
      margin-bottom: 0  

  


.material-form
  background-color: transparent
  .container-inner-form
    padding: 0 16px 16px 16px

@media only screen and (max-width: 1024px)
  .button-menu-navi
    display: none
    z-index: 10
    position: fixed
    top: 14px
    left: 8px

  .button-menu-account
    display: none

  .container-main
    width: 100%
    margin: 0 auto


