
input, textarea, keygen, select, 
  font-size: 1em
  font-family: Helvetica, arial, serif
  color: rgb(51, 51, 51)

button
  font-size: 1em
  font-family: Futura, Helvetica, arial, serif
  color: rgb(51, 51, 51)

.material-button
  .button-label
    font-weight: 500
  .button-icon
    height: 22px
  // &:focus
  //   //transition-delay: .2s
  //   transition-duration: .3s
  //   background-color: inherit
  //   &:hover
  //     background-color: inherit
  &.type-raised
    &.deepblue-color
    background-color: rgb(2, 49, 104)
    color: $secondary-color-text
    .button-icon
      svg
        fill: $secondary-color-text
    .material-ripple
      opacity: .3
      background-color: $default-color-dark
    &:focus
      background-color: lighten(rgb(2, 49, 104), 10%)
      &:hover
        background-color: lighten(rgb(2, 49, 104), 10%)
    &:hover
      background-color: lighten(rgb(2, 49, 104), 5%)

.material-card
  padding: 8px
  .material-toolbar
  .container-inner
    padding: 8px
    padding-top: 8px

  .toolbar-foot
    //text-align: right
    padding: 8px

.material-dialog
  .dialog-surface
    overflow: hidden
  .toolbar-head
    padding: 8px
    margin-top: 0
    .text-title
      margin-left: 8px
  .container-inner
    padding: 16px
  .toolbar-foot
    padding: 16px
    overflow: hidden

.dialog-oops
  .dialog-surface
    width: 360px

.material-component
  background-color: transparent

.material-list 
  .material-button 
    flex-wrap: nowrap
    width: inherit
    display: inline-block


.material-divider
  margin: 0

.material-tabs
  .material-list
    .material-button
      padding: 0 8px
      min-width: inherit
      min-height: inherit
      .button-label
        padding: 0 4px



// Material Textfield

.material-textfield
  display: block
  position: relative
  margin-right: 16px
  padding-top: 8px
  margin-bottom: 8px
  vertical-align: top

  .textfield-underline
    position: absolute
    opacity: 0
    left: 50%
    bottom: 0px
    height: 2px
    width: 2px
    background-color: #4891F4
    transition: .1s

  &.textfield-error
    .textfield-label
      color: #F44336
      color: #D6392C

    textarea,
    input
      border-bottom: 1px solid #F44336

// states
.material-textfield
  
  select
    // position: absolute
    // left: 0
    padding: 12px 8px 8px 0
    font-size: 16px
    border: none
    width: 100%
    height: 40px
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    background: transparent
    //background: url() 96% / 15% no-repeat #eee

    //outline:none
    &:hover
      cursor: default

      //background-color: rgba(100, 100, 100, .06)

    &:focus
      cursor: text

  input[readonly],
  textarea[readonly]
    //color: #9A9A9A
    //color: rgba(0, 0, 0, 1)
    //background-color: rgba(255,255,255,1)
    border-bottom: 1px dashed rgba(0, 0, 0, 0.12)

    &:hover
      cursor: default

      //background-color: rgba(255,255,255,1)

    &:focus,
    &:active
      cursor: text
      border-bottom: 1px dashed rgba(0, 0, 0, 0.12) !important

      //background-color: rgba(255,255,255,1)

.dark-theme
  .material-textfield
    .textfield-label
      transition: .2s
      color: rgba(255, 255, 255, 0.3)

    .textfield-input
      border-bottom: 1px solid rgba(255, 255, 255, 0.12)

@media only screen and (max-width: 1024px)
  .material-textfield
    textarea,
    input
      font-size: 16px
