.contributor
  display: flex
  flex-direction: column
  flex: none
  z-index: 32
  height: 396px
  transform: translateY(300px)
  transition: .195s transform cubic-bezier(.4,0,.2,1)
  &.open
    transform: translateY(0px)
    transition: .225s transform cubic-bezier(.4,0,.2,1)
  .summary
    background-color: rgba(0,0,0,.5)
    .follow
      pointer-events: auto
      position: absolute
      right: 8px
      bottom: 8px
      white-space: normal
      width: 40px
      height: 40px
      margin: 0 1px
      padding: 0px
      text-align: center
      border-radius: 50%
      background-repeat: no-repeat
      background-size: 60%
      background-position: center
      background-image: url('/theme/minimal/icon/follow.svg')
    .image
      background-color: rgba(0,0,0,.2)

  .body
    flex: 1
    position: relative
    display: flex
    flex-direction: column
    .material-tabs
      background-color: #202124
      > .material-list 
        >.material-button
          >label
            color: rgba(255,255,255,1)
    .views
      position: relative
      flex: 1
      background-color: rgb(50, 54, 57)
      .item
        color: rgba(255,255,255,.87)

  
