.moods
  z-index: 1
  //position: absolute
  top: 0px
  left: 50%
  width: 172px
  height: 52px
  background-color: rgba(0,0,0,.1)
  margin: 0 auto
  text-align: center
  background: none
  pointer-events: auto
  button
    font-size: .7em 
    text-align: center
    cursor: pointer
    padding-top: 5px
    margin: 0 2px
    display: inline-block
    color: rgba(2,2,3,.87)
    color: rgba(255,255,255,1)
    font-weight: 500
    height: 58px
    width: 48px
    border-bottom-left-radius: 25px
    border-bottom-right-radius: 25px
    //border: 1px solid rgba(151,151,151,1)
    background-image: url('/theme/actual/icon/off.svg') 
    background-repeat: no-repeat
    background-position: center 20px
    background-size: 26px 26px
    background-color: RGBA(63, 169, 216, 1.00)
    border: 2px solid rgba(255,255,255,1)
    border-top: 0
    &:hover
      //background-image: url('/img/moods/selected.svg')
    &.selected
      background-image: url('/theme/actual/icon/on.svg')
      cursor: default
      
@media only screen and (max-width: 1024px)
  .moods
    z-index: 1
    position: fixed
    top: -16px
    left: 16px
    padding-left: 16px
    height: 90px
    background-color: rgba(0,0,0,.1)
    margin: 0 auto
    text-align: center
    background-color: transparent
    //background: url('/img/moods/label.svg') no-repeat left bottom
    button
      font-size: .6em 
      padding-top: 22px
      margin: 0 1px
      font-weight: 400
      height: 74px
      width: 48px
      border-bottom-left-radius: 24px
      border-bottom-right-radius: 24px
      //border: 1px solid rgba(151,151,151,1)
      background-image: url('/theme/actual/icon/off.svg') 
      background-position: center 36px
      background-size: 24px 24px
      &:hover
        //background-image: url('/img/moods/selected.svg')
      &.selected
        background-image: url('/theme/actual/icon/on.svg')
        cursor: default


@media only screen and (max-width: 320px)
  .material-moods
    left: 0px
    padding-left: 8px





        