.now
  z-index: 3
  position: fixed
  left: 16px
  //right: 16px
  display: flex
  height: 396px
  flex-direction: row
  transform: translateY(0)
  transition: .1s transform ease
  will-change: transform
  &.open
    transform: translateY(0px)
    transition: .2s transform ease
    will-change: transform

    .track, .contributor
      transform: translateY(300px)
      transition: .1s transform ease !important
      &.open
        transform: translateY(0px)
        transition: .1s transform ease !important

  .track, .contributor
    transform: translateY(0px)
    transition: .1s transform ease !important
    &.open
      transform: translateY(-300px)
      transition: .1s transform ease !important
