.container-now
  z-index: 3
  pointer-events: none
  position: fixed
  bottom: 156px
  left: 16px
  width: 180px
  .card-playing

    padding: 0
    z-index: 4
    pointer-events: auto
    overflow: hidden 
    //display: none
    //position: absolute
    //overflow: visible
    border-radius: 12px
    border-bottom-right-radius: 20px
    border-bottom-left-radius: 20px
    justify-content: start
    width: 180px
    left: 0px
    top: 0px
    background-color: transparent
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12)
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12)
    .text-playing-title
      color: rgba(1,1,1,.87)
      font-size: .9em
      text-transform: uppercase
      font-weight: 500
      position: absolute
      display: inline-block
      height: 50px
      top: -24.5px
      padding: 4px 6px
      border-top-left-radius: 10px
      border-top-right-radius: 10px
      background-color: rgba(254, 233, 72, 1.00)
      box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12)
    .inner
      z-index: 2
      .track-info
        
        font-size: .9em
        .track-cover
          display: block
          width: 180px
          height: 180px
          background-color: rgb(34, 89, 138)
          background-size: cover
          border-top-left-radius: 15px
          border-top-right-radius: 15px
          border: 2px solid rgba(255,255,255,1)
        .track-artist
          font-weight: 500
          color: rgba(255,255,255,.95)
          display: block
          padding: 4px 8px
          background-color: rgb(34, 89, 138)
          border-bottom: 2px solid rgba(255,255,255,1)
          white-space: nowrap
          overflow: hidden
          text-overflow: ellipsis
        .track-title
          color: rgba(0,0,0,1)
          color: rgba(255,255,255,.95)
          display: block
          padding: 4px 8px
          background-color: rgba(131, 203, 239, 1)
          border-bottom: 2px solid rgba(255,255,255,1)
          white-space: nowrap
          overflow: hidden
          text-overflow: ellipsis

      .track-action
        background-color: rgba(249, 170, 188, 1)
        padding: 4px 3px
        .material-button
          display: inline-block
          flex-direction: column
          flex: 1
          white-space: normal
          width: 40px
          height: 40px
          margin: 0 1px
          padding: 0px
          text-align: center
          border-radius: 50%
          background-repeat: no-repeat
          background-size: cover
          background-position: center
          &.button-like-track
            background-image: url('/theme/actual/icon/like.svg')
          &.button-share-track
            background-image: url('/theme/actual/icon/share.svg')
          &.button-comment-track
            display: none
            background-image: url('/theme/actual/icon/comment.svg')
          &.button-buy-track
            opacity: 0
            visibility: hidden
          .button-label
            display: none
            color: rgba(0,0,0,.87)
            line-height: 1.9
            font-weight: 550
            font-family: arial, helvetica
            font-size: .55em
            margin-top: 3px
            padding: 0 4px
            border-radius: 7px
            margin: 3px auto
            min-width: 20px
            background-color: rgba(255,255,255,1) 

        .material-button.button-buy-track
          opacity: .5
          pointer-events: none
          &.buy
            opacity: 1
            pointer-events: auto

@media only screen and (max-width: 1024px)
  .container-now
    position: fixed
    bottom: 100px
    width: 64px
    height: 64px
    .card-playing
      border-radius: 0px
      padding: 0
      width: 86px
      border: none
      border-radius: 0
      .text-playing-title
        display: none
      .inner
        .track-info
          bottom: 80px
          padding: 0
          margin: 0px
          .track-cover
            overflow: hidden
            display: block
            border: 2px solid rgba(255,255,255,1)
            width: 84px
            height: 84px
            border-radius: 0
            img
              width: 62px
          .track-artist
            display: none
          .track-title
            display: none
        .track-action
          display: none
    
