.material-posttrack-control
  cursor: pointer
  z-index: 2
  position: fixed
  top: 64px
  right: 96px
  width: 77px
  height: 77px
  border-radius: 10px
  // &.whenplaying
  //   transition: .2s left linear
  //   bottom: 64px
  //   left: 156px
  //background-color: RGBA(247, 168, 187, 1)
  //box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12)
  .posttrack-button
    display: none
    font-size: .7em
    text-transform: uppercase
    position: absolute
    top: 16px
    right: -16px
    border-radius: 7px
    background-color: RGBA(194, 24, 37, 1.00)
    color: rgba(255,255,255,1)
    padding: 3px 7px 2px
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1)
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12)
  .posttrack-image
    position: absolute
    top: 50px
    left: 30px
    width: 77px
    height: 77px
    background-image: url('/theme/actual/icon/posttrack.svg')
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    transition: 1s transform ease
  &:hover
    .posttrack-button
      color: RGBA(194, 24, 37, 1.00) 
      background-color: rgba(255,255,255,1)
    .posttrack-image
      animation: spin 1s linear infinite
      transition: 1s transform ease


@keyframes spin
  100% 
    transform: rotate(360deg)


.material-posttrack
  z-index: 20
  position: fixed
  top: 0
  left: 0
  bottom: 0
  top: 0
  width: 100%
  height: 100%
  background-color: rgba(1,1,1,.4)

  form.emphasis
    transition: .1s  
    zoom: 1.01

  //text-align: center
  .card-posttrack
    position: relative
    pointer-events: auto
    margin: 100px auto 0
    //display: none
    overflow: visible
    justify-content: start
    width: 460px
    border-radius: 16px
    background-color: rgba(172, 217, 253, 1)
    border: 2px solid rgba(255,255,255,1)
    .component-post-track
      position: relative
      overflow: hidden
      display: inline-block
      background-image: url('/img/upload/track.svg')
      background-size: cover
      text-align: center
      input[type=file]
        font-size: 100px
        position: absolute
        left: 0
        top: 0
        bottom: 0
        right: 0
        width: 204px
        height: 204px
        opacity: 0
      .material-text
        font-size: 1.4em
        display: inline-block
        padding: 16px
        margin-top: 64px
        color: rgba(0,0,0,0.2)
        &:hover
          color: rgba(0,0,0,0.8)

    .component-post-cover
      position: relative
      overflow: hidden
      display: inline-block
      background-image: url('/img/upload/cover.svg')
      background-size: cover
      background-position: center
      text-align: center
      input[type=file]
        font-size: 100px
        position: absolute
        left: 0
        top: 0
        bottom: 0
        right: 0
        width: 204px
        height: 204px
        opacity: 0
      .material-text
        font-size: 1.4em
        display: inline-block
        padding: 16px
        margin-top: 64px
        color: rgba(0,0,0,0.2)
        &:hover
          color: rgba(0,0,0,0.8)

    .material-textfield
      margin-right: 0
    .component-left
      background-color: transparent
      margin-bottom: 8px
      margin-right: 16px
      .component-post-track
        overflow: hidden
        display: block
        border: 1px solid rgba(0,0,0,.8)
        width: 206px
        height: 206px
        background-color: rgba(0,0,0,.2)
        margin-bottom: 16px
        //margin-right: 16px

    .component-right
      background-color: transparent
      .component-post-cover
        overflow: hidden
        display: block
        border: 1px solid rgba(0,0,0,.8)
        width: 206px
        height: 206px
        background-color: rgba(0,0,0,.2)
        margin-bottom: 16px
        //margin-right: 16px
      .component-track-text
        background-color: transparent
        .material-textfield
          margin-bottom: 4px
          margin-right: 0
          .textfield-input
            font-size: .7em

    .toolbar-foot
      //display: block
      .material-divider
        border-bottom: none
      .material-button
        margin: 0


@media only screen and (max-width: 1024px)
  .material-posttrack-control
    display: none

  .material-posttrack
    z-index: 20
    position: fixed
    top: 0
    left: 0
    bottom: 0
    top: 0
    width: 100%
    height: 100%
    background-color: rgba(1,1,1,.4)

    form.emphasis
      transition: .1s  
      zoom: 1.01

    //text-align: center
    .card-posttrack
      position: relative
      pointer-events: auto
      //display: none
      overflow: visible
      justify-content: start
      width: 100%
      margin: 0
      .component-left
        .component-post-track
          height: 100px
          width: inherit
          .material-text
            padding: 16px
            margin-top: 0px

      .component-right
        .component-post-cover
          height: 100px
          width: inherit
          .material-text
            padding: 16px
            margin-top: 0px
