.material-profile
  z-index: 10
  position: fixed
  top: 0
  left: 0
  bottom: 0
  top: 0
  width: 100%
  height: 100%
  background-color: rgba(1,1,1,.4)
  .card-profile
    position: relative
    pointer-events: auto
    margin: 100px auto 0
    //display: none
    padding: 0
    overflow: visible
    justify-content: start
    width: 380px
    max-height: 70%
    transition: .2s height linear
    border: 2px solid rgba(255,255,255,1)
    border-radius: 10px
    background-color: #ea7d99
    .text-title
    .material-container
      .component-contributor-info
        .component-image
          overflow: hidden
          display: block
          border: 1px solid rgba(0,0,0,.8)
          width: 132px
          height: 132px
          background-color: rgba(0,0,0,.2)
          margin: 4px 16px 8px 0
   
          background-size: cover
          border-radius: 50%
          background-size: cover
        .component-side 
          background-color: transparent
          .component-info
            background-color: transparent
            .material-textfield
              margin-bottom: 4px
              margin-right: 0
              padding-top: 14px
              .textfield-label
                font-size: 1em
              .textfield-input
                cursor: default
                font-size: .9em
                background-color: rgba(255,255,255,.1)
                //padding-left: 4px
                padding-top: 8px
                padding-bottom: 6px
                border-bottom: 1px solid transparent

      .component-contributor-awards
        overflow: scroll
        //height: 150px
        .text-awards-label
          //font-size: .8em
          margin-top: 8px
          padding-bottom: 6px
          border-bottom: 1px solid rgba(0,0,0,.1)
        .component-awards-list
          padding-top: 16px
          display: block
          overflow: scroll
          // overflow-y: hidden

          //height: 260px
          .award
            position: relative
            display: inline-block
            width: 84px
            height: 130px
            text-align: center
            img
              display: inline-block
              width: 77.5px
              height: 100px
            .name
              position: absolute
              bottom: 0
              left: 0
              right: 0
              text-align: center
              display: block
              height: 30px
              font-size: .7em



@media only screen and (max-width: 1024px)
  .material-profile
    z-index: 10
    position: fixed
    top: 0
    left: 0
    bottom: 0
    top: 0
    width: 100%
    height: 100%
    background-color: rgba(1,1,1,.4)
    .card-profile
      position: relative
      pointer-events: auto
      margin: 100px auto 0
      //display: none
      padding: 0
      overflow: visible
      justify-content: start
      width: 100%
      max-height: 70%
      transition: .2s height linear
      background-color: #7CBBD8