.settings
  z-index: 20
  position: fixed
  top: 0
  left: 0
  bottom: 0
  top: 0
  width: 100%
  height: 100%
  
  .container-settings
    position: fixed
    top: 0
    right: 0
    bottom: 0
    width: 320px
    // background-color: rgb(51, 51, 51)
    background-color: rgba(255,255,255,1)
  .toolbar-head
    margin-bottom: 20px

  .info
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    .text-label

      //color: rgba(255,255,255,.8)
      padding: 20px 16px
    .material-textfield
      min-width: 160px
      label
        //color: rgba(255,255,255,.8)
      select
        //color: rgba(255,255,255,.8)