.material-social
  position: fixed
  top: 100px
  right: 16px
  width: 32px
  a
    display: block
    width: 32px
    height: 36px
    border: none
    svg
      pointer-events: none
      width: 32px
      height: 32px
      circle
        fill-opacity: .2
        &:hover
          fill-opacity: .7

@media only screen and (max-width: 1024px)
  .material-social
    display: none
    
