
.sound
  pointer-events: auto
  display: inline-block
  width: 42px
  height: 42px
  margin: 2px 8px
  background-image: url('/theme/actual/icon/sound.svg')
  background-size: cover
  &.off
    background-image: url('/theme/actual/icon/sound_off.svg')

@media only screen and (max-width: 1024px)
  .sound
    display: none