.trackinfo
  display: flex
  direction: vertical
  z-index: 2
  position: fixed
  top: 0
  left: 0
  bottom: 0
  top: 0
  width: 100%
  height: 100%
  background-color: rgba(1,1,1,0)
  pointer-events: none
  //pointer-events: none
  //text-align: center
  &.show
    .card-track-info
      width: 486px
      transition: .2s width ease
      
  .card-track-info
    position: fixed
    pointer-events: auto
    //display: none
    bottom: 230px
    left: 190px
    overflow: hidden
    justify-content: start
    height: 198px
    width: 0px
    //padding: 16px
    padding: 0
    pointer-events: auto
    border-top: 2px solid rgba(255,255,255,1)
    border-right: 2px solid rgba(255,255,255,1)
    border-bottom: 2px solid rgba(255,255,255,1)
    border-top-right-radius: 16px
    border-bottom-right-radius: 16px
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12)
    transition: .1s width ease
    .text-title
      display: inline-block
      display: none
      color: rgba(1,1,1,.87)
      font-size: .9em
      text-transform: uppercase
      font-weight: 500
      position: absolute
      height: 50px
      top: -24.5px
      padding: 4px 6px
      border-top-left-radius: 10px
      border-top-right-radius: 10px
      background-color: rgba(254, 233, 72, 1.00)
      //box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12)

      z-index: 2
      padding: 0
    .cover
      display: none
      background-color: transparent
      margin-right: 0

    .side
      position: absolute
      top: 0
      right: 0
      width: 478px
      display: flex
      flex-direction: row
      .info
        flex: 2
        padding: 8px 16px 32px 16px
        background-color: rgb(34, 89, 138)
        border-top-right-radius: 15px
        border-bottom-right-radius: 14px
        .field
          padding: 2px 0 1px
          border: 0
          margin: 0
          border-bottom: 1px solid rgba(255,255,255,.5)
          .material-text
            display: inline-block
            color: rgba(255,255,255,.87)
            width: 340px
            font-size: .8em
            line-height: .9em
            padding: 0
            margin-right: 0
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis
            &.label
              display: inline-block
              width: 92px
              text-transform: uppercase
              color: rgb(131, 203, 239)
              padding: 0px 0
      .comments
        display: none
        flex: 1
        height: 140px
        padding: 10px
        background-color: #EA7987
        .text-comments
          font-size: .8em
          text-transform: uppercase
          color: rgba(255,255,255,1)
          padding-right: 4px

@media only screen and (max-width: 1024px)
  .material-trackinfo
    z-index: 5
    display: flex
    direction: vertical
    z-index: 30
    position: fixed
    top: 0
    left: 0
    bottom: 0
    top: 0
    width: 100%
    height: 100%
    background-color: rgba(1,1,1,0)
    pointer-events: none
    //pointer-events: none
    //text-align: center
    &.show
      .card-track-info
        display: block
        width: 100%
        transition: .2s width ease
        
    .card-track-info
      display: none
      position: fixed
      pointer-events: auto
      top: 0
      bottom: 0px
      left: 0px
      overflow: hidden
      justify-content: start
      height: 100%
      width: 100%
      //padding: 16px
      padding: 0
      pointer-events: auto
      border-top: 0
      border-right: 0
      border-bottom: 0
      border-top-right-radius: 0
      border-bottom-right-radius: 0
      box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12)
      transition: .1s width ease
      .button-close
        display: inline-block
        position: absolute
        width: 48px
        height: 48px
        top: 0
        right: 0
        background-image: url('/theme/actual/icon/close.svg')
        background-size: cover
        background-position: center

      .title
        display: block
        text-transform: uppercase 
        font-size: .8em
        width: 100%   
        position: relative
        top: 0
        right: 0
        left: 0
        color: rgba(255,255,255,1)
        padding: 16px 16px
        background-color: rgb(131, 203, 239)
        border-bottom: 2px solid rgba(255,255,255,1)
        border-top-left-radius: 0
        border-top-right-radius: 0

      .cover
        display: none
        background-color: transparent
        margin-right: 0

      .side
        position: relative
        top: inherit
        right: inherit
        width: 100%
        display: flex
        flex-direction: row
        .info
          flex: 2
          padding: 8px 16px 32px 16px
          background-color: rgb(34, 89, 138)
          border-top-right-radius: 0
          border-bottom-right-radius: 0
          .field
            padding: 2px 0 1px
            border: 0
            margin: 0
            border-bottom: 1px solid rgba(255,255,255,.5)
            .material-text
              display: inline-block
              color: rgba(255,255,255,.87)
              width: 340px
              font-size: .8em
              line-height: .9em
              padding: 0
              margin-right: 0
              white-space: nowrap
              overflow: hidden
              text-overflow: ellipsis
              &.label
                display: inline-block
                width: 92px
                text-transform: uppercase
                color: rgb(131, 203, 239)
                padding: 0px 0
        .comments
          display: none
          flex: 1
          height: 140px
          padding: 10px
          background-color: #EA7987
          .text-comments
            font-size: .8em
            text-transform: uppercase
            color: rgba(255,255,255,1)
            padding-right: 4px