.material-worldmap
  cursor: grab
  position: absolute
  margin: 0 auto
  width: 100%
  height: 100%
  // transition: .3s transform ease 
  // backface-visibility: hidden
  .map
    opacity: 0
    overflow: hidden
    position: absolute
    top: 0
    left: 0
    top: 0
    bottom: 0
    width: 4090px
    height: 3950px
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12)
    border: 8px solid rgba(255,255,255,1)
    border-radius: 12px

    &.show
      opacity: 1
      transition: .3s opacity ease

    // .bg
    //   opacity: .2
    //   position: absolute
    //   bottom: 0
    //   top: 0
    //   left: 0
    //   top: 0
    //   right: 0
    //   background-image: url('/theme/actual/img/charleston.jpg')
    //   background-size: 500px
    //   background-position: 12px 18px
    //   background-repeat: repeat

    .svg
      position: absolute
      bottom: 0
      top: 0
      right: 0
      left: 0
      width: 100%
      height: 100%

      &.tiny svg path
        stroke-width: 2
      &.small svg path
        stroke-width: 1.4
      &.medium svg path
        stroke-width: 1
      &.large svg path  
        stroke-width: .8
      &.huge svg path
        stroke-width: .6
      &.xhuge svg path
        stroke-width: .4

    svg.worldmap
      // -webkit-backface-visibility: hidden
      // -ms-transform: translateZ(0) /* IE 9 */
      // -webkit-transform: translateZ(0) /* Chrome, Safari, Opera */
      // transform: translateZ(0)
      // image-rendering: -moz-crisp-edges         /* Firefox */
      // image-rendering:   -o-crisp-edges         /* Opera */
      // image-rendering: -webkit-optimize-contrast/* Webkit (non-standard naming) */
      // image-rendering: crisp-edges
      // -ms-interpolation-mode: nearest-neighbor  /* IE (non-standard property) */
      position: absolute
      left: 1045px
      top: 1480px
      width: 5408px
      height: 4500px
      margin: 0 auto
      path
        cursor: pointer
        fill: #ffffff
        fill-opacity: .6
        fill-rule: evenodd
        stroke: rgba(0,0,0,.2)
        stroke-opacity: .8
        stroke-width: 1
        stroke-linejoin: round
        stroke-linecap: round
        //transition: fill .2s ease, fill-opacity .2s ease
      path:hover
        //fill: rgba(246, 191, 193, .8)
        //transition: fill .2s ease, fill-opacity .2s ease
      path.selected
        stroke: rgba(0,0,0,.2)
        fill-opacity: .7
        cursor: default
        fill: rgba(246, 191, 193, 1.00)        
      path.selected:hover
        stroke: rgba(0,0,0,.2)
        fill-opacity: .7
        cursor: default
        fill: rgba(246, 191, 193, 1.00)
      path.empty
        stroke-opacity: 0.3
        cursor: default
        fill: #ffffff
        fill-opacity: .3
      path.empty:hover
        stroke-opacity: 0.3
        cursor: default
        fill: #ffffff
        fill-opacity: .3
       
@media only screen and (max-width: 1024px)

