
.material-zoom
  z-index: 13
  //position: fixed
  display: inline-block
  //top: 80px
  //left: 176pc
  padding: 16px
  pointer-events: auto
  display: flex
  color: rgba(0, 0, 0, 0.47)
  -webkit-font-smoothing: antialiased
  white-space: nowrap
  position: relative
  vertical-align: middle
  cursor: default
  height: 36px
  padding: 0
  margin: 6px
  border: none
  border-radius: 2px
  overflow: hidden
  background-color: rgba(0, 0, 0, 0)
  min-width: 36px
  transition: box-shadow 0.2s
  color: rgba(255, 255, 255, 0.95)
  .zoom-in
    display: inline-block
    cursor: pointer
    width: 36px
    height: 36px
    background-image: url('/theme/actual/icon/zoom-in.svg')
    background-repeat: no-repeat
    background-position: center
    border-radius: 50%
    &:hover
      background-image: url('/theme/actual/icon/zoom-in_o.svg')
  .zoom-out
    display: inline-block
    cursor: pointer
    width: 36px
    height: 36px
    background-image: url('/theme/actual/icon/zoom-out.svg')
    background-repeat: no-repeat
    background-position: center
    border-radius: 50%
    &:hover
      background-image: url('/theme/actual/icon/zoom-out_o.svg')

@media only screen and (max-width: 1024px)
  .material-zoom
    display: flex
    flex-direction: column
    position: absolute
    width: 46px
    height: 96px
    position: fixed
    right: 8px 
    top: 100px
    margin: 0
    .zoom-in
      order: 1
      width: 44px
      height: 44px
      margin: 0
    .zoom-out
      order: 2
      width: 44px
      height: 44px
      margin: 0