.account
  position: fixed
  top: 0
  bottom: 0
  right: 0
  display: flex
  flex-direction: column
  flex: none
  z-index: 32
  width: 480px
  background-color: rgba(255,255,255,1)
  transform: translateX(100%)
  transition: .225s transform cubic-bezier(.4,0,.2,1)
  &.open
    box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12)
    transform: translateX(0px)
    transition: .3s transform ease-out

  .button-close
    z-index: 2
    position: absolute
    right: 4px
    top: 8px
    width: 40px
    height: 40px
    background-image: url('/theme/minimal/icon/close.svg')
    background-position: center
    background-repeat: no-repeat

  .summary
    pointer-events: auto
    height: 108px
    background-color: rgba(0, 0, 0, .05)
    .image
      pointer-events: none
      margin: 16px
    .info
      padding: 16px
      .name
        font-size: 1.3em
        color: $default-color-text

  .body
    .material-tabs
      pointer-events: auto
      border-bottom: 1px solid rgba(0, 0, 0, .1)
      height: 36px
      white-space: no-wrap
      background-color: rgba(0, 0, 0, .05)
      .material-list
        button
          pointer-events: auto
          display: inline-block
          // flex-direction: column
          // flex: 1
          // white-space: normal
          padding: 0 16px
          min-width: 40px
          //height: 40px
          //margin: 0 1px
          border-radius: 0
          text-align: center
          background-repeat: no-repeat
          background-size: 60%
          background-position: center
          label
            color: $default-color-text
          &.button-likes
            label
              display: none
            background-image: url(/theme/minimal/icon/like.svg)
          &.button-settings
            label
              display: none
            background-image: url(/theme/minimal/icon/settings.svg)

    .views
      background-color: transparent
      .liked,
      .uploaded,
      .settings,
      .likes
        color: $default-color-text
        &.show
          display: block
          .item
            color: $default-color-text
            border-bottom: 1px solid rgba(0,0,0,.1)

      

  .toolbar-foot
    display: flex
    flex-direction: row
    padding: 16px
    margin: 0
    background-color: rgba(0,0,0,.03)
    //display: flex
    .material-divider
      flex: 1
      border-bottom: none
      margin: 0
    .button-settings
      width: 40px
      height: 40px
      background-image: url('/theme/minimal/icon/settings.svg')
      background-position: center
      background-repeat: no-repeat



@media only screen and (max-width: 640px)
  .account
    width: 100%

