.appbar
  z-index: 7
  height: 52px
  border-bottom-right-radius: 16px
  border-bottom-left-radius: 16px
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  background-color: rgba(249, 170, 188, 1)
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12)
  box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, 0.2), 0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12)
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12)
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12)
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  padding: 0
  margin: 16px 20px 0 20px
  border: 2px solid rgb(255,255,255)
  //transition: 2s background ease
  .divider-3
    flex: 1

  .logo
    cursor: pointer
    pointer-events: auto
    width: 114px
    height: 36px
    margin: 0
    margin: 6px 8px
    margin-left: 8px
    background-image: url('/theme/actual/logo.svg')
    background-size: contain
    background-repeat: no-repeat

  .material-button
    pointer-events: auto

  .material-toolbar
    padding: 14px 16px

  .toolbar-account
    flex: none
    order: 4
    padding: 0
    display: flex
    flex-direction: row
    .button-next
      flex: none
      order: 1
      margin: 6px
      height: 37px
      width: 37px
      padding-top: 4px
      padding-left: 6px
      border: 2px solid rgba(255,255,255,1)
      border-radius: 50%
      i
        svg
          fill: #fff
    .button-account,
    .button-login
      //position: fixed
      //top: 16px
      //right: 16px
      font-weight: 500
      color: rgba(255,255,255,.87)
      flex: none
      order: 2
      margin: 0
      height: 50px
      border-radius: 0
      border-bottom-right-radius: 15px
      border-bottom-left-radius: 15px
      //border-bottom-left-radius: 14px
      box-shadow: none
      //border-right: 2px solid rgba(255,255,255,1)
      border-left: 2px solid rgba(255,255,255,1)
      border-bottom: 2px solid rgba(255,255,255,1)
      background-color: #3FA9D8
      .button-label
        height: 37px
        padding-top: 9px
      .icon-user
        flex: none
        z-index: 10
        height: 36px
        width: 36px
        margin-top: 0
        background-size: cover
        border-radius: 10px
        //border: 1px solid rgba(255,255,255,1)


  .button-menu
    display: none
    border-radius: 50%


.mode-random
  .appbar
    background-color: #02294F

.mode-islands
  .appbar
    background-color: #3177AE

.mode-taxi
  .appbar
    background-color: rgba(247, 232, 146,1)



  

@media only screen and (max-width: 1023px)
  .appbar
    margin: 0
    border-top: 0
    border-left: 0
    border-right: 0
    border-radius: 0
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12)
  
    .button-menu
      display: none
      z-index: 10
      position: relative
      height: 48px
      width: 48px
      margin: 0
      padding: 0
      border-radius: 50%

    .logo
      display: none

    .toolbar-account
      .button-login
        height: 50px
        width: 50px
        border-bottom-right-radius: 0
        border-bottom-left-radius: 0
        background-color: none
        background-image: url('/theme/actual/icon/account.svg')
        background-position: center
        background-repeat: no-repeat        
        .button-label
          display: none
      .button-account
        height: 50px
        border-bottom-right-radius: 0
        border-bottom-left-radius: 0
        background-color: none
        .button-label
          display: none
