.material-player
  display: none
  font-size: .8em
  position: absolute
  bottom: 64px
  right: 26px
  width: 300px
  height: 54px
  border-radius: 0

.controls
  position: fixed
  top: 100px


@media only screen and (max-width: 1024px)
  .controls
    position: fixed
    top: 110px