
.islands-list
  z-index: 5
  width: 164px
  position: fixed
  top: 66px
  left: 540px
  bottom: 100px
  display: block
  padding: 0px
  overflow: scroll
  overflow-x: hidden
  border-top: 1px solid rgba(255,255,255,1)
  opacity: 0
  pointer-events: none
  transform: translateY(-150px) scale(0.8)
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
  transition: .195s transform cubic-bezier(.4,0,.2,1), .195s opacity cubic-bezier(.4,0,.2,1)
  &.open
    pointer-events: auto
    transition: .225s transform cubic-bezier(.4,0,.2,1), .195s opacity cubic-bezier(.4,0,.2,1)
    transform: translateY(0) scale(1)
    opacity: 1
  .item
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    cursor: pointer
    position: relative
    width: 164px
    padding: 8px
    overflow: hidden
    background-color: $primary-color
    border: 1px solid rgba(255,255,255,1)
    border-top: none
    &:hover
      background-color: darken($primary-color, 10%)
    .image
      flex: none
      order: 2
      width: 32px
      height: 32px
      background-size: 100%
      background-repeat: no-repeat
      background-position: center
      
    .name
      flex: 1
      order: 1
      width: 96px
      font-size: .8em
      text-transform: uppercase
      //height: 56px
      //margin-top: 8px
      color: rgba(255,255,255,.87)


@media only screen and (max-width: 1024px)
  .islands-list
    padding: 64px 8px 128px

      
